.dashboardContainer {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  flex-wrap: wrap;
  gap: 15px;
}

.title {
  color: #fff !important;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0 !important;
}

.title svg {
  color: var(--highlight-color);
}

.filterContainer {
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  flex-wrap: wrap;
  gap: 10px;
  color: gray;
}

.filterLabel {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterLabel svg {
  color: var(--highlight-color);
}

.statsInfo {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.statsInfo svg {
  color: var(--highlight-color);
}

.table {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.deactivatedRow {
  background-color: rgba(80, 80, 80, 0.3);
  opacity: 0.7;
}

.actionButton {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cellWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: normal;
  word-break: break-word;
}

.cellWithIcon svg {
  color: var(--highlight-color);
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .dashboardContainer {
    width: 100%;
    padding: 10px;
  }

  .header {
    align-items: flex-start;
  }

  .header a {
    align-self: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .statsInfo {
    margin-left: 0;
  }
  .title {
    font-size: 20px !important;
  }

  .actionButton {
    padding: 0 8px !important;
  }
}
